.hint {
  background-color: black;
  font-size: small;
  color: white;
  border-color: black;
  border-style: solid;
  border-width: 5px;
}

.hint-normal {
    background-color: white;
    font-size: small;
    color: black;
    border-color: green;
    border-style: solid;
    border-width: 5px;
  }

  .hint-abnormal {
    background-color: white;
    font-size: small;
    color: black;
    border-color: red;
    border-style: solid;
    border-width: 5px;
  }